@{
    ViewData["Title"] = "Home Page";
}



<div class="container">
    <div class="row">
        <div class="col-sm-10"><h3>Welcome to Info page: &nbsp <span>@ViewBag.CurUser.firstName @ViewBag.CurUser.lastName</span></h3></div>
        <div class="col-sm-1"><h3><a href="/Dashboard"><button class="btn btn-info">Dashboard</button></a></h3></div>
        <div class="col-sm-1"><h3><a href="/logout"><button class="btn btn-danger">Logout</button></a></h3></div>
    </div>
</div><hr>

<div id="CENTER" class="container col-sm-6">
    <legend>This event was created by: <span>@ViewBag.selectedWed.UsersUser.firstName @ViewBag.selectedWed.UsersUser.lastName</span></legend>

    <h4 id="CENTER1">@ViewBag.selectedWed.wedderOne and @ViewBag.selectedWed.wedderTwo's Wedding</h4>
    <h4>Event date: <span>@ViewBag.selectedWed.date.ToString("dddd, d MMMM yyyy 'at' hh:mm tt")</span></h4>
    <h4>Click the Address to see the location</h4>
    <h4><a href="http://maps.google.com/?q= @ViewBag.selectedWed.weddingAddress"> <spa>@ViewBag.selectedWed.weddingAddress</spa></a></h4>
    <h4>Guests: </h4>
    @foreach( var guests in @ViewBag.allGuests ) {

        <p class="col-sm-offset-1 col-sm-11">@guests.UsersUser.firstName @guests.UsersUser.lastName</p>           
            
    }
</div> 